{% extends 'website/base.html' %}

{% block title %}
Documentation
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the Bash Documentation</h1>
    <p>This documentation provides a comprehensive guide to using and understanding our notes application. Whether you're a new user or a veteran, you'll find everything you need to know about its features, pricing, and how to get started.</p>
    <h2>Home page</h2>
    <p>The Home section of the app is your central hub for all your notes. When you open the app, this is the first screen you'll see. It is designed for easy navigation and quick access to your most important information.</p>
    <p>
        <ul>
            <li>Dashboard: Displays a quick overview of your activity, including recently created or edited notes.</li>
            <li>Note List: Shows all your notes in a clean, scrollable list. You can customize this view to sort by date, title, or last modified.</li>
            <li>Note Editor: Allows you to create, edit, or delete notes. You can also add tags and categories to your notes.</li>
            <li>Settings: Manage your account settings, including your profile picture, username, and password.</li>
        </ul>
    </p>
</div>
{% endblock %}